[Unit]
Description=Bladelius ES9068 DAC Initialization
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/home/volumio/src/Python-3.9.1/bin/python3.9 -u /home/volumio/9068regSet.py -i
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ES9068
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
