[Unit]
Description=Bladelius Product Initialization
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python3 -u /home/volumio/bladelius/ConfigurationFiles/initialization.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=BGD-init
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
