[Unit]
Description=Bladelius Control
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python3 -u /home/volumio/bladelius/bladelius.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bladelius
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
