[Unit]
Description=Bladelius Oden Control
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/home/volumio/src/Python-3.8.5/bin/python3.8 -u /home/volumio/Oden/oden.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oden
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
